# Add student grades column according to percentages

In [62]:
#Import Libraries
import csv

In [63]:
# Opening CSV File
open_csv = open('student data.csv',mode='r')
open_csv

In [64]:
# Reading CSV File
read_csv = csv.reader(open_csv)
read_csv

In [65]:
# Displaying CSV Data
data = list(read_csv)
print(data)

[['roll no', 'Name', 'Chemistry', 'Physics', 'Math'], ['101', 'Aliza', '50', '23', '87'], ['102', 'Fareed', '45', '24', '88'], ['103', 'Basit', '46', '25', '89'], ['104', 'Abdullah', '47', '26', '90'], ['105', 'Ali', '48', '27', '67'], ['106', 'Mubashir', '49', '28', '68'], ['107', 'Waleed', '50', '29', '69'], ['108', 'Mansoor', '51', '30', '70'], ['109', 'Zain', '52', '31', '71'], ['110', 'Mohsin', '53', '67', '72'], ['111', 'Shahmeer', '54', '68', '73'], ['112', 'Rao', '55', '69', '74'], ['113', 'Aurangzeb', '56', '70', '75'], ['114', 'Zeeshan', '57', '71', '76'], ['115', 'Hamna', '58', '72', '77'], ['116', 'Hamza', '59', '73', '78'], ['117', 'Khalid', '60', '74', '79'], ['118', 'Behroz', '61', '75', '80'], ['119', 'Justin', '62', '76', '81'], ['120', 'Danish', '63', '77', '82'], ['121', 'Kainat', '64', '78', '83'], ['122', 'Sameer', '65', '79', '84'], ['123', 'Raza', '66', '80', '85'], ['124', 'Kumar', '67', '81', '86'], ['125', 'Komal', '68', '82', '87'], ['126', 'Erum', '69', '83', '88'], ['127', 'Faiza', '70', '84', '89'], ['128', 'Saeed', '71', '85', '90'], ['129', 'Waqar', '72', '86', '91'], ['130', 'Wali', '73', '87', '92'], ['131', 'Wajid', '74', '88', '93'], ['132', 'Waseeb', '75', '89', '94'], ['133', 'Shiza', '76', '90', '95'], ['134', 'Shabina', '77', '91', '96'], ['135', 'Shazain', '78', '55', '97'], ['136', 'Lubna', '79', '61', '98'], ['137', 'Laiba', '80', '88', '78'], ['138', 'Khursheed', '81', '56', '45'], ['139', 'Ali', '82', '89', '46'], ['140', 'Aiza', '83', '45', '89'], ['141', 'Aiman', '84', '92', '78'], ['142', 'Yasmeen', '85', '36', '56'], ['143', 'Tasbeel', '86', '78', '78'], ['144', 'Laraib', '87', '56', '54'], ['145', 'Saleem', '88', '78', '78'], ['146', 'Bismil', '89', '89', '46'], ['147', 'Batool', '90', '56', '79'], ['148', 'Iqra', '91', '33', '46'], ['149', 'Zarnish', '92', '78', '45'], ['150', 'Zara', '83', '45', '56']]

In [66]:
# Adding Column Total
data[0].append('Total')
data[0].append('Grade')

In [67]:
data[0]

['roll no', 'Name', 'Chemistry', 'Physics', 'Math', 'Total', 'Grade']

In [68]:
# Iterating Displaying Data and Calculating Total Marks and Grade
for i in data[1:]:
  chem = float(i[2]);
  phy = float(i[3]);
  math = float(i[4]);

  total = round((chem + phy + math)/300*100,2)

  i.append(total)

  if total >=80 and total <= 100:
    i.append('A')

  elif total >= 70 and total <= 79:
    i.append('C')

  elif total >= 60 and total <= 69:
    i.append('D')

  elif total >= 50 and total <= 59:
    i.append('F')

  else:
    i.append('Fail')

print(data)

[['roll no', 'Name', 'Chemistry', 'Physics', 'Math', 'Total', 'Grade'], ['101', 'Aliza', '50', '23', '87', 53.33, 'F'], ['102', 'Fareed', '45', '24', '88', 52.33, 'F'], ['103', 'Basit', '46', '25', '89', 53.33, 'F'], ['104', 'Abdullah', '47', '26', '90', 54.33, 'F'], ['105', 'Ali', '48', '27', '67', 47.33, 'Fail'], ['106', 'Mubashir', '49', '28', '68', 48.33, 'Fail'], ['107', 'Waleed', '50', '29', '69', 49.33, 'Fail'], ['108', 'Mansoor', '51', '30', '70', 50.33, 'F'], ['109', 'Zain', '52', '31', '71', 51.33, 'F'], ['110', 'Mohsin', '53', '67', '72', 64.0, 'D'], ['111', 'Shahmeer', '54', '68', '73', 65.0, 'D'], ['112', 'Rao', '55', '69', '74', 66.0, 'D'], ['113', 'Aurangzeb', '56', '70', '75', 67.0, 'D'], ['114', 'Zeeshan', '57', '71', '76', 68.0, 'D'], ['115', 'Hamna', '58', '72', '77', 69.0, 'D'], ['116', 'Hamza', '59', '73', '78', 70.0, 'C'], ['117', 'Khalid', '60', '74', '79', 71.0, 'C'], ['118', 'Behroz', '61', '75', '80', 72.0, 'C'], ['119', 'Justin', '62', '76', '81', 73.0, 'C'], ['120', 'Danish', '63', '77', '82', 74.0, 'C'], ['121', 'Kainat', '64', '78', '83', 75.0, 'C'], ['122', 'Sameer', '65', '79', '84', 76.0, 'C'], ['123', 'Raza', '66', '80', '85', 77.0, 'C'], ['124', 'Kumar', '67', '81', '86', 78.0, 'C'], ['125', 'Komal', '68', '82', '87', 79.0, 'C'], ['126', 'Erum', '69', '83', '88', 80.0, 'A'], ['127', 'Faiza', '70', '84', '89', 81.0, 'A'], ['128', 'Saeed', '71', '85', '90', 82.0, 'A'], ['129', 'Waqar', '72', '86', '91', 83.0, 'A'], ['130', 'Wali', '73', '87', '92', 84.0, 'A'], ['131', 'Wajid', '74', '88', '93', 85.0, 'A'], ['132', 'Waseeb', '75', '89', '94', 86.0, 'A'], ['133', 'Shiza', '76', '90', '95', 87.0, 'A'], ['134', 'Shabina', '77', '91', '96', 88.0, 'A'], ['135', 'Shazain', '78', '55', '97', 76.67, 'C'], ['136', 'Lubna', '79', '61', '98', 79.33, 'Fail'], ['137', 'Laiba', '80', '88', '78', 82.0, 'A'], ['138', 'Khursheed', '81', '56', '45', 60.67, 'D'], ['139', 'Ali', '82', '89', '46', 72.33, 'C'], ['140', 'Aiza', '83', '45', '89', 72.33, 'C'], ['141', 'Aiman', '84', '92', '78', 84.67, 'A'], ['142', 'Yasmeen', '85', '36', '56', 59.0, 'F'], ['143', 'Tasbeel', '86', '78', '78', 80.67, 'A'], ['144', 'Laraib', '87', '56', '54', 65.67, 'D'], ['145', 'Saleem', '88', '78', '78', 81.33, 'A'], ['146', 'Bismil', '89', '89', '46', 74.67, 'C'], ['147', 'Batool', '90', '56', '79', 75.0, 'C'], ['148', 'Iqra', '91', '33', '46', 56.67, 'F'], ['149', 'Zarnish', '92', '78', '45', 71.67, 'C'], ['150', 'Zara', '83', '45', '56', 61.33, 'D']]

In [69]:
# Writing Updated Data into CSV
updated = open('student data.csv',mode='w',newline='')

csv_write = csv.writer(updated)
csv_write.writerows(data)

updated.close()

# Dispalying Updated CSV

In [71]:
# Importing Library
import pandas as pd

In [72]:
# Opening CSV into DataFrame
updated_csv = pd.read_csv('student data.csv')
updated_csv

    roll no       Name  Chemistry  Physics  Math  Total Grade
0       101      Aliza         50       23    87  53.33     F
1       102     Fareed         45       24    88  52.33     F
2       103      Basit         46       25    89  53.33     F
3       104   Abdullah         47       26    90  54.33     F
4       105        Ali         48       27    67  47.33  Fail
5       106   Mubashir         49       28    68  48.33  Fail
6       107     Waleed         50       29    69  49.33  Fail
7       108    Mansoor         51       30    70  50.33     F
8       109       Zain         52       31    71  51.33     F
9       110     Mohsin         53       67    72  64.00     D
10      111   Shahmeer         54       68    73  65.00     D
11      112        Rao         55       69    74  66.00     D
12      113  Aurangzeb         56       70    75  67.00     D
13      114    Zeeshan         57       71    76  68.00     D
14      115      Hamna         58       72    77  69.00     D
15      116      Hamza         59       73    78  70.00     C
16      117     Khalid         60       74    79  71.00     C
17      118     Behroz         61       75    80  72.00     C
18      119     Justin         62       76    81  73.00     C
19      120     Danish         63       77    82  74.00     C
20      121     Kainat         64       78    83  75.00     C
21      122     Sameer         65       79    84  76.00     C
22      123       Raza         66       80    85  77.00     C
23      124      Kumar         67       81    86  78.00     C
24      125      Komal         68       82    87  79.00     C
25      126       Erum         69       83    88  80.00     A
26      127      Faiza         70       84    89  81.00     A
27      128      Saeed         71       85    90  82.00     A
28      129      Waqar         72       86    91  83.00     A
29      130       Wali         73       87    92  84.00     A
30      131      Wajid         74       88    93  85.00     A
31      132     Waseeb         75       89    94  86.00     A
32      133      Shiza         76       90    95  87.00     A
33      134    Shabina         77       91    96  88.00     A
34      135    Shazain         78       55    97  76.67     C
35      136      Lubna         79       61    98  79.33  Fail
36      137      Laiba         80       88    78  82.00     A
37      138  Khursheed         81       56    45  60.67     D
38      139        Ali         82       89    46  72.33     C
39      140       Aiza         83       45    89  72.33     C
40      141      Aiman         84       92    78  84.67     A
41      142    Yasmeen         85       36    56  59.00     F
42      143    Tasbeel         86       78    78  80.67     A
43      144     Laraib         87       56    54  65.67     D
44      145     Saleem         88       78    78  81.33     A
45      146     Bismil         89       89    46  74.67     C
46      147     Batool         90       56    79  75.00     C
47      148       Iqra         91       33    46  56.67     F
48      149    Zarnish         92       78    45  71.67     C
49      150       Zara         83       45    56  61.33     D