Question 1:

Write a Python program that prints numbers from 1 to 20, but skips all even numbers.

Use a while loop.

Use the continue statement

The numbers should be printed on the same line separated by spaces.

Expected Output:

1 3 5 7 9 11 13 15 17 19

In [13]:
# Initializing starting point
start = 0

# Starting While Loop
while start <= 20:
  start += 1

  # Checking Condition for Even Numbers
  if (start % 2 == 0):
    continue

  # Displaying Results
  print(start,end=' ')

1 3 5 7 9 11 13 15 17 19 21

Question 2:

Write a Python program that keeps asking the user to enter numbers and prints them.

The program should stop the loop if the user enters a negative number.

Use a while True loop with a break statement

Expected Output:

Enter a number (negative to stop): 5

You entered: 5

Enter a number (negative to stop): 10

You entered: 10

Enter a number (negative to stop): -3

Negative number entered. Loop stopped!

In [14]:
# Starting Loop to Ask User
while True:
  user_inp = int(input('Enter a number (negative to stop): '))

  # Checking Negative Number Condition
  if user_inp < 0:
    print('Negative number entered. Loop stopped!')
    break

Enter a number (negative to stop): 3
Enter a number (negative to stop): -3
Negative number entered. Loop stopped!

Question 3:


Write a Python program that asks the user to guess a secret word.

Keep asking until the user enters the correct word ("python").

When guessed correctly, print "ðŸŽ‰ You guessed it!"

Expected Output:

Guess the word: java

Guess the word: ruby

Guess the word: python

ðŸŽ‰ You guessed it!

In [15]:
# Initializing Correct Word
correct_word = 'python'

# Starting Loop to Guess Secret Word
while True:
  user_inp = input('Guess the word: ')

  # Checking Negative Number Condition
  if user_inp == correct_word:
    print('ðŸŽ‰You guessed it!')
    break

Guess the word: java
Guess the word: ruby
Guess the word: python
ðŸŽ‰You guessed it!

Question 4:

orders = [
    {"order_id": 1, "customer": "Ali", "items": [120, 80, 50]},
    {"order_id": 2, "customer": "Sara", "items": [200, 150]},
    {"order_id": 3, "customer": "Raheel", "items": [90, 60, 40, 30]},
    {"order_id": 4, "customer": "Naveed", "items": [300]},
]

You are given a list of e-commerce orders. Each order has:

an order ID

a customer name

a list of items with prices

Write a Python program to print all items for each order using nested while loops.

Expected Output:

Order ID: 1 Customer: Ali

 Item Price: 120

 Item Price: 80

 Item Price: 50

Order ID: 2 Customer: Sara

 Item Price: 200

 Item Price: 150

Order ID: 3 Customer: Raheel

 Item Price: 90

 Item Price: 60

 Item Price: 40

 Item Price: 30

Order ID: 4 Customer: Naveed

 Item Price: 300

In [6]:
# Initializing Starting point
i = 0

# Initializing E-commerce Lists
orders = [ {"order_id": 1, "customer": "Ali", "items": [120, 80, 50]}, {"order_id": 2, "customer": "Sara", "items": [200, 150]}, {"order_id": 3, "customer": "Raheel", "items": [90, 60, 40, 30]}, {"order_id": 4, "customer": "Naveed", "items": [300]}, ]

# Using nested while loops to print data
while i < len(orders):

  # Displaying Customers Name
  customer_name = orders[i]['customer']
  print(f'Order ID: {customer_name}')

  # Reset Counter for Each Customer
  j = 0

  # Iterating Items for Each Customer
  while j < len(orders[i]['items']):
    customer_items = orders[i]['items'][j]
    print(f'Item Price: {customer_items}')
    j += 1

  # Next Line for Clear Formatting
  print('\n')

  # Increment i for next customer
  i += 1

Order ID: Ali
Item Price: 120
Item Price: 80
Item Price: 50


Order ID: Sara
Item Price: 200
Item Price: 150


Order ID: Raheel
Item Price: 90
Item Price: 60
Item Price: 40
Item Price: 30


Order ID: Naveed
Item Price: 300

Question 5:

Print total amount spent by each customer (Using nested while loop)

orders = [
    {"order_id": 1, "customer": "Ali", "items": [120, 80, 50]},
    {"order_id": 2, "customer": "Sara", "items": [200, 150]},
    {"order_id": 3, "customer": "Raheel", "items": [90, 60, 40, 30]},
    {"order_id": 4, "customer": "Naveed", "items": [300]},
]

Expected Output:

Ali spent total: 250

Sara spent total: 350

Raheel spent total: 220

Naveed spent total: 300

In [13]:
# Initializing Starting Point for Customers Name
i = 0

# Intializing customer name and ammount
customer_name = ''
total_sum = 0

# Intializing Customers List
orders = [ {"order_id": 1, "customer": "Ali", "items": [120, 80, 50]}, {"order_id": 2, "customer": "Sara", "items": [200, 150]}, {"order_id": 3, "customer": "Raheel", "items": [90, 60, 40, 30]}, {"order_id": 4, "customer": "Naveed", "items": [300]}, ]

# Loop for Customer Name:
while i < len(orders):

  # Reset for Each Customer
  j = 0

  # Loop for Calculating Total Amount
  while j < len(orders[i]['items']):

    # Putting values in customer_name and calculating total sum
    customer_name = orders[i]['customer']
    total_sum = sum(orders[i]['items'])
    j += 1

  # Displaying Customer name with their total amount
  print(f'{customer_name} spent total : {total_sum}')

  # Incrementing i for next customer
  i += 1

Ali spent total : 250
Sara spent total : 350
Raheel spent total : 220
Naveed spent total : 300

Question 6:

Print the maximum item price for each order. (Using nested while loop)

orders = [ {"order_id": 1, "customer": "Ali", "items": [120, 80, 50]}, {"order_id": 2, "customer": "Sara", "items": [200, 150]}, {"order_id": 3, "customer": "Raheel", "items": [90, 60, 40, 30]}, {"order_id": 4, "customer": "Naveed", "items": [300]}, ]

Expected Output:

Most expensive item in Order 1 = 120

Most expensive item in Order 2 = 200

Most expensive item in Order 3 = 90

Most expensive item in Order 4 = 300

In [16]:
# Initializing Starting Point for Customers Name
i = 0

# Intializing customer name, amount and order_id
customer_name = ''
max_item = 0
order_id = 0

# Intializing Customers List
orders = [ {"order_id": 1, "customer": "Ali", "items": [120, 80, 50]}, {"order_id": 2, "customer": "Sara", "items": [200, 150]}, {"order_id": 3, "customer": "Raheel", "items": [90, 60, 40, 30]}, {"order_id": 4, "customer": "Naveed", "items": [300]}, ]

# Loop for Customer Name:
while i < len(orders):

  # Reset for Each Customer
  j = 0

  # Loop to Find Max Item
  while j < len(orders[i]['items']):

    # Putting values in customer_name, his order id and max item
    customer_name = orders[i]['customer']
    max_item = max(orders[i]['items'])
    order_id = orders[i]['order_id']
    j += 1

  # Displaying Customer name with their total amount
  print(f'Most expensive item in Order {order_id} = {max_item}')

  # Incrementing i for next customer
  i += 1

Most expensive item in Order 1 = 120
Most expensive item in Order 2 = 200
Most expensive item in Order 3 = 90
Most expensive item in Order 4 = 300

Question 7:

Write a Python program to create a single list (list comprehension) that contains all numbers from 1 to 50 which are multiples of 5 and 10.

Expected Output:

Multiples of 5 and 10 from 1 to 50: [10, 20, 30, 40, 50]

Question 8:

employees = [
    {"emp_id": 1, "name": "Ali", "dept": "Sales", "salary": 50000, "experience": 2},
    {"emp_id": 2, "name": "Sara", "dept": "IT", "salary": 65000, "experience": 5},
    {"emp_id": 3, "name": "Raheel", "dept": "HR", "salary": 45000, "experience": 1},
    {"emp_id": 4, "name": "Naveed", "dept": "Finance", "salary": 70000, "experience": 7},
    {"emp_id": 5, "name": "Ayesha", "dept": "IT", "salary": 72000, "experience": 6},
    {"emp_id": 6, "name": "Talha", "dept": "Sales", "salary": 55000, "experience": 3},
    {"emp_id": 7, "name": "Sana", "dept": "Finance", "salary": 80000, "experience": 8},
    {"emp_id": 8, "name": "Hina", "dept": "HR", "salary": 48000, "experience": 2},
]

Using List Comprehension

Employees with salary > 60,000 AND experience > 5 years

Expected Output:
['Naveed', 'Ayesha', 'Sana']

In [19]:
# Initializng Employees
employees = [ {"emp_id": 1, "name": "Ali", "dept": "Sales", "salary": 50000, "experience": 2}, {"emp_id": 2, "name": "Sara", "dept": "IT", "salary": 65000, "experience": 5}, {"emp_id": 3, "name": "Raheel", "dept": "HR", "salary": 45000, "experience": 1}, {"emp_id": 4, "name": "Naveed", "dept": "Finance", "salary": 70000, "experience": 7}, {"emp_id": 5, "name": "Ayesha", "dept": "IT", "salary": 72000, "experience": 6}, {"emp_id": 6, "name": "Talha", "dept": "Sales", "salary": 55000, "experience": 3}, {"emp_id": 7, "name": "Sana", "dept": "Finance", "salary": 80000, "experience": 8}, {"emp_id": 8, "name": "Hina", "dept": "HR", "salary": 48000, "experience": 2}, ]

# Checking Given Condition
new_employees = [employees[i]['name'] for i in range(len(employees)) if (employees[i]['salary'] > 60000 and employees[i]['experience'] > 5)]

# Displaying Names
print(new_employees)

['Naveed', 'Ayesha', 'Sana']

Question 9:

Employees with NOT HR department

Expected Output:
['Ali', 'Sara', 'Naveed', 'Ayesha', 'Talha', 'Sana']

In [20]:
# Initializng Employees
employees = [ {"emp_id": 1, "name": "Ali", "dept": "Sales", "salary": 50000, "experience": 2}, {"emp_id": 2, "name": "Sara", "dept": "IT", "salary": 65000, "experience": 5}, {"emp_id": 3, "name": "Raheel", "dept": "HR", "salary": 45000, "experience": 1}, {"emp_id": 4, "name": "Naveed", "dept": "Finance", "salary": 70000, "experience": 7}, {"emp_id": 5, "name": "Ayesha", "dept": "IT", "salary": 72000, "experience": 6}, {"emp_id": 6, "name": "Talha", "dept": "Sales", "salary": 55000, "experience": 3}, {"emp_id": 7, "name": "Sana", "dept": "Finance", "salary": 80000, "experience": 8}, {"emp_id": 8, "name": "Hina", "dept": "HR", "salary": 48000, "experience": 2}, ]

# Checking Given Condition
new_employees = [employees[i]['name'] for i in range(len(employees)) if (employees[i]['dept'] != 'HR')]

# Displaying Names
print(new_employees)

['Ali', 'Sara', 'Naveed', 'Ayesha', 'Talha', 'Sana']

Question 10:

Employees NOT in Sales OR experience > 5

Expected Output:
['Sara', 'Raheel', 'Naveed', 'Ayesha', 'Sana', 'Hina']

In [21]:
# Initializng Employees
employees = [ {"emp_id": 1, "name": "Ali", "dept": "Sales", "salary": 50000, "experience": 2}, {"emp_id": 2, "name": "Sara", "dept": "IT", "salary": 65000, "experience": 5}, {"emp_id": 3, "name": "Raheel", "dept": "HR", "salary": 45000, "experience": 1}, {"emp_id": 4, "name": "Naveed", "dept": "Finance", "salary": 70000, "experience": 7}, {"emp_id": 5, "name": "Ayesha", "dept": "IT", "salary": 72000, "experience": 6}, {"emp_id": 6, "name": "Talha", "dept": "Sales", "salary": 55000, "experience": 3}, {"emp_id": 7, "name": "Sana", "dept": "Finance", "salary": 80000, "experience": 8}, {"emp_id": 8, "name": "Hina", "dept": "HR", "salary": 48000, "experience": 2}, ]

# Checking Given Condition
new_employees = [employees[i]['name'] for i in range(len(employees)) if (employees[i]['dept'] != 'Sales' or employees[i]['experience'] > 5)]

# Displaying Names
print(new_employees)

['Sara', 'Raheel', 'Naveed', 'Ayesha', 'Sana', 'Hina']