Q1. An e-commerce store stores information about its products in a nested dictionary. The outer dictionary uses product IDs as keys, and the inner dictionary stores product details like name, category, price, and stock quantity. products = { 101: {"name": "Laptop", "category": "Electronics", "price": 1200, "stock": 50}, 102: {"name": "Shirt", "category": "Apparel", "price": 25, "stock": 200}, 103: {"name": "Coffee Maker", "category": "Home Appliances", "price": 80, "stock": 30} }

• Increase the stock of the "Shirt" product (add 50 more units) using increment/decrement operators

• Add a new product (e.g., "Smartphone")

Expected Output:

{101: {'name': 'Laptop', 'category': 'Electronics', 'price': 1200, 'stock': 50}, 102: {'name': 'Shirt', 'category': 'Apparel', 'price': 25, 'stock': 250}, 103: {'name': 'Coffee Maker', 'category': 'Home Appliances', 'price': 80, 'stock': 30}}
{101: {'name': 'Laptop', 'category': 'Electronics', 'price': 1200, 'stock': 50}, 102: {'name': 'Shirt', 'category': 'Apparel', 'price': 25, 'stock': 250}, 103: {'name': 'Coffee Maker', 'category': 'Home Appliances', 'price': 80, 'stock': 30}, 104: {'name': 'Smartphone', 'category': 'Electronics', 'price': 800, 'stock': 100}}

In [ ]:
# Information of Ecommerce Storage
products = {101: {"name": "Laptop", "category": "Electronics", "price": 1200, "stock": 50},
            102: {"name": "Shirt", "category": "Apparel", "price": 25, "stock": 200},
            103: {"name": "Coffee Maker", "category": "Home Appliances", "price": 80, "stock": 30} }

# Increasing Stock of Shirt Product
products[102]['stock'] += 50

# Adding New Product
products.update({104:{'name': 'Smartphone', 'category': 'Electronics', 'price': 800, 'stock': 100}})

# Displaying Output
products

{101: {'name': 'Laptop',
  'category': 'Electronics',
  'price': 1200,
  'stock': 50},
 102: {'name': 'Shirt', 'category': 'Apparel', 'price': 25, 'stock': 250},
 103: {'name': 'Coffee Maker',
  'category': 'Home Appliances',
  'price': 80,
  'stock': 30},
 104: {'name': 'Smartphone',
  'category': 'Electronics',
  'price': 800,
  'stock': 100}}

Q2. You are given a list that contains some duplicate items. Remove the duplicates by converting the list to a set. Final output should be in list

shopping_list = ["apple", "banana", "apple", "orange", "banana", "grape"]

Expected Output:
['apple', 'grape', 'banana', 'orange']

In [ ]:
# Duplicate List
shopping_list = ["apple", "banana", "apple", "orange", "banana", "grape"]

# Converting to Set
new_set = set(shopping_list)

# Converting the Unique Set to List
unique_list = list(new_set)

# Displaying Unique List
unique_list

['banana', 'grape', 'orange', 'apple']

Q3. You are managing a list of students enrolled in two different courses. You need to perform various set operations to understand the student enrollment. Task: Create two sets: one for students in "Course A" and one for students in "Course B". Find the students who are in "Course A" but not in "Course B" (difference). Find students who are only in one of the two courses (symmetric difference). course_a = {"John", "Alice", "Bob", "David"} course_b = {"Alice", "Eve", "Charlie", "David"}

Using set methods

• Find students who are in Course A but not in Course B (difference)

• Find students who are only in one of the two courses (symmetric difference)

Expected Output:

Students in Course A but not in Course B: {'Bob', 'John'}

Students only in one of the two courses: {'Eve', 'John', 'Bob', 'Charlie'}

In [ ]:
# Given Courses List
course_a = {"John", "Alice", "Bob", "David"}
course_b = {"Alice", "Eve", "Charlie", "David"}

# Finding Students who are not in Course B
unenrolled_students = course_a.difference(course_b)

# Finding Students only in one of the two courses
one_course_student = course_a.symmetric_difference(course_b)

# Displaying Results
print(f'Students in Course A but not in Course B: {unenrolled_students}')
print(f'Students only in one of the two courses: {one_course_student}')

Students in Course A but not in Course B: {'John', 'Bob'}
Students only in one of the two courses: {'Eve', 'Bob', 'John', 'Charlie'}

Q4. Write a Python program to store and display the details of a book.

The program should ask the user to input the following information:

Title of the book

Author’s name

Year of publication

Price of the booK

Store the entered details in a tuple.

Finally, display the book details in a proper format as shown below:

Expected Output:

Title: Harry Potter

Author: JK Rowlings

Year of Publication: 2000

Price: $180.0

In [ ]:
# Asking Details from User
title_of_book = input('Enter the Title of Book: ')
author_name = input("Enter Author's Name : ")
year_of_publication = int(input('Enter Year of Publication:  '))
price_of_book = float(input('Enter the Price of Book: '))

# Saving all details in a tuple
book_details = (title_of_book,author_name,year_of_publication,price_of_book)

# Seprator
print('-------------------------------------------------\n')

# Displaying all Books
print(f'Title of Book: {title_of_book}')
print(f'Author Name: {author_name}')
print(f'Year of Publication: {year_of_publication}')
print(f'Price of Book: ${price_of_book}')

Enter the Title of Book: Harry Potter
Enter Author's Name : JK Rowlings
Enter Year of Publication:  2000
Enter the Price of Book: 180
-------------------------------------------------

Title of Book: Harry Potter
Author Name: JK Rowlings
Year of Publication: 2000
Price of Book: $180.0

Q5. Write a program to check if a user’s chosen subject is available in the list of offered subjects.

Instructions:

Given a list of subjects, ask the user to input a subject.

Display whether the subject is available or not.

Expected Output:

Enter the subject you are interested in:  art

art is available.

In [ ]:
# List of Available Subjects
subjects_list = ['Programming Foundamentals','Calculus','Web Development']

# Asking User to Input Subject
user_subject = input('Enter the subject name: ').title()

# Checking if the user's selected subject is available or not
is_subject_available = user_subject in subjects_list

if is_subject_available:
  print(f'{user_subject} is available')

else:
  print('Sorry the choosen course is not available right now!')

Enter the subject name: calculus
Calculus is available

Q6. Write a Python program that asks the user to enter a number.

If the number is greater than 0, print "Positive".

If the number is less than 0, print "Negative".

If the number is exactly 0, print "Zero".

Expected Output:

Enter a number:  2

The number is Positive

---

Enter a number:  0

The number is Zero

---

Enter a number:  -1

The number is Negative

In [ ]:
# Asking 3 times
for i in range(3):

  # Program to Ask User to Enter Number
  user_inp = int(input('Enter a number: '))

  # Checking Condition # 1
  if (user_inp > 0):
    print('Positive')

  # Checking Condition # 2
  elif (user_inp < 0 ):
    print('Negative')

  # Checking Condition # 3:
  elif (user_inp == 0):
    print('Zero')

  else:
    print('Negative')

Enter a number: 2
Positive
Enter a number: 0
Zero
Enter a number: -1
Negative

Q7. Write a Python program that simulates a simple login system.

The correct username is 'admin' and the correct password is 'admin@123'

The program should take username and password as input from the user.

It should check the input and display messages according to the following conditions:

- If both username and password are correct → print "Login Successful".

- If username is wrong but password is correct → print "Invalid Username".

- If username is correct but password is wrong → print "Invalid Password".

- If both username and password are wrong → print "Invalid Username and Password".

In [1]:
# Asking credientials from user
username = input('Enter your username: ')
password = input('Enter your password: ')

# Checking Login Successful Condition
if username == 'admin' and password == 'admin@123':
  print('Login Successful')

# Checking wrong username but correct password
elif username != 'admin' and password == 'admin@123':
  print('Invalid Username')

# Checking username correct but wrong password
elif username == 'admin' and password != 'admin@123':
  print('Invalid Password')

# If both are wrong
else:
  print('Invalid Username and Password')

Enter your username: admin
Enter your password: admin123
Invalid Password

Q8.

student_details = {
    "Ali": {"age": 20, "grade": "A", "city": "Karachi"},
    "Sara": {"age": 21, "grade": "B", "city": "Lahore"},
    "Omar": {"age": 19, "grade": "A", "city": "Islamabad"},
    "Hina": {"age": 22, "grade": "C", "city": "Faisalabad"}
}

- Add a new student using method:
  "Zara": {"age": 20, "grade": "B", "city": "Multan"}

- Remove a student "Omer" using method

Expected Output:

{'Ali': {'age': 20, 'grade': 'A', 'city': 'Karachi'}, 'Sara': {'age': 21, 'grade': 'B', 'city': 'Lahore'}, 'Hina': {'age': 22, 'grade': 'C', 'city': 'Faisalabad'}, 'Zara': {'age': 20, 'grade': 'B', 'city': 'Multan'}}

In [4]:
# Students Details
student_details = { "Ali": {"age": 20, "grade": "A", "city": "Karachi"}, "Sara": {"age": 21, "grade": "B", "city": "Lahore"}, "Omar": {"age": 19, "grade": "A", "city": "Islamabad"}, "Hina": {"age": 22, "grade": "C", "city": "Faisalabad"} }

# Adding new student
student_details.update({"Zara": {"age": 20, "grade": "B", "city": "Multan"}})

# Removing a student Omer
student_details.pop('Omar')

# Displaying Final Details
student_details

{'Ali': {'age': 20, 'grade': 'A', 'city': 'Karachi'},
 'Sara': {'age': 21, 'grade': 'B', 'city': 'Lahore'},
 'Hina': {'age': 22, 'grade': 'C', 'city': 'Faisalabad'},
 'Zara': {'age': 20, 'grade': 'B', 'city': 'Multan'}}

Q9. Write program to check a person’s eligibility for a loan based on age, credit score, and income. This time, the eligibility criteria will be:

The person must be 18 years or older. The person must have a credit score of 650 or higher. The person must have an annual income of at least 30000 dollars If the person has a credit score of 700 or higher, they may still be eligible with an income of 25000 dollars or more.

Expected Output:

Enter your age:  22

Enter your credit score:  888

Enter your annual income: $ 800000

You are eligible for the loan!

---

Enter your age:  15

Enter your credit score:  800

Enter your annual income: $ 900000

You are not eligible for the loan due to age.

---

Enter your age:  35

Enter your credit score:  99

Enter your annual income: $ 900000

You are not eligible for the loan due to low credit score.

In [9]:
# Asking User Input 3 times
for i in range(3):
    age = int(input('Enter your age: '))
    credit_score = int(input('Enter your credit score: '))
    annual_income = int(input('Enter your annual income:$ '))

    # Eligible condition
    if age >= 18:
        if credit_score >= 650 and annual_income >= 30000:
            print("You are eligible for the loan!")
        elif credit_score >= 700 and annual_income >= 25000:
            print("You are eligible for the loan!")
        elif credit_score < 650 and annual_income >= 30000:
            print("You are not eligible for the loan due to credit score.")
        else:
            print("You are not eligible for the loan.")  # fallback case

    # Ineligible due to age
    elif age < 18:
        if credit_score >= 650 and annual_income >= 30000:
            print("You are not eligible for the loan due to age.")
        else:
            print("You are not eligible for the loan.")  # fallback case

    print("-----------------------------------------------------")

Enter your age: 22
Enter your credit score: 888
Enter your annual income:$ 800000
You are eligible for the loan!
-----------------------------------------------------
Enter your age: 15
Enter your credit score: 800
Enter your annual income:$ 900000
You are not eligible for the loan due to age.
-----------------------------------------------------
Enter your age: 35
Enter your credit score: 99
Enter your annual income:$ 900000
You are not eligible for the loan due to credit score.
-----------------------------------------------------

Q10. Write a Python program to check whether the entered letter is a vowel, a consonant, or invalid input.

The program should take a single character as input. If the character is a vowel (a, e, i, o, u in both upper and lower case), it will print "Vowel". If it is an alphabet but not a vowel, it will print "Consonant". Otherwise, it will print "Please enter valid alphabet".

Expected Output:

Enter a single letter:  a

a is a Vowel

---

Enter a single letter:  E

E is a Vowel

---

Enter a single letter:  z

z is a Consonant

---

Enter a single letter:  7

Please enter valid alphabet

In [24]:
# Running Loop to Ask 3 times:
for i in range(4):

  # Asking User Input
  user_alphabet = input('Enter a single Letter: ')
  uppercase_vowels = ['A','E','I','O','U']
  lowercase_vowels = ['a','e','i','o','u']

  # Checking alphabet then vowel consonant condition
  if user_alphabet.isalpha():
      if user_alphabet in uppercase_vowels or user_alphabet in lowercase_vowels:
       print(f'{user_alphabet} is a Vowel')

      elif user_alphabet not in uppercase_vowels or user_alphabet not in lowercase_vowels:
       print(f'{user_alphabet} is a Consonant')

# Else invalid input
  else:
    print('Please enter valid alphabet')

Enter a single Letter: a
a is a Vowel
Enter a single Letter: e
e is a Vowel
Enter a single Letter: z
z is a Consonant
Enter a single Letter: 7
Please enter valid alphabet

In [25]:
! git clone https://github.com/codedbyvilen/JP-Pakistan-Assign4.git

Cloning into 'JP-Pakistan-Assign4'...
remote: Enumerating objects: 3, done.
remote: Counting objects: 100% (3/3), done.
remote: Compressing objects: 100% (3/3), done.
remote: Total 3 (delta 0), reused 3 (delta 0), pack-reused 0 (from 0)
Receiving objects: 100% (3/3), done.

In [26]:
!git config --global user.name "codedbyvilen"
!git config --global user.email "vilen89762@gmail.com"